<ion-view view-title="检索Demo">
  <ion-content>
    <h1>检索Demo</h1>
	<form ng-submit="doSearch()">
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="请输入检索条件1">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="请输入检索条件2">
		  </label>
	        <button class="button button-block button-positive" type="submit">search</button>
		</div>
	</form>

		<ul class="list" ng-show='showListResult'>
		    <ion-list>
		      <ion-item ng-repeat="data in searchDatas" href="#/app/detail/{{data.id}}">
		        {{data.itemId}}
		      </ion-item>
			</ion-list>
		</ul>
  </ion-content>
</ion-view>
