<ion-view view-title="Search">
  <ion-content>
    <h1>xx检索</h1>
	<form ng-submit="doSearch()">
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="search1">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="search2">
		  </label>
	        <button class="button button-block button-positive" type="submit">search</button>
		</div>
	</form>

		<ul class="list" ng-show='showListResult'>
		    <ion-list>
		      <ion-item ng-repeat="data in searchDatas" href="#/app/detail/{{data.id}}">
		        {{data.itemId}}
		      </ion-item>
			</ion-list>
		</ul>
		<!--
		<ul class="list" ng-show='showListResult'>
		    <ion-list>
		      <ion-item href="#/app/detail/111">
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item href="#/app/detail/222">
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item href="#/app/detail/333">
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item href="#/app/detail/444">
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		      <ion-item>
		        aaaaaaaaaa
		      </ion-item>
		    </ion-list>
		</ul>
		-->
  </ion-content>
</ion-view>
